/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Colors
# Elements
# Nav
# Content
# Footer    

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
.CBP-gray {
	color: #4b4b4b;
}
.CBP-white {
	color: #fff;
}

.cbp-bg-color {
	background : -moz-linear-gradient(0% 50% 0deg,rgba(138, 208, 195, 1) 0.56%,rgba(0, 182, 169, 1) 50%,rgba(0, 161, 133, 1) 100%);
 background : -webkit-linear-gradient(0deg, rgba(138, 208, 195, 1) 0.56%, rgba(0, 182, 169, 1) 50%, rgba(0, 161, 133, 1) 100%);
 background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0.0056,rgba(138, 208, 195, 1) ),color-stop(0.5,rgba(0, 182, 169, 1) ),color-stop(1,rgba(0, 161, 133, 1) ));
 background : -o-linear-gradient(0deg, rgba(138, 208, 195, 1) 0.56%, rgba(0, 182, 169, 1) 50%, rgba(0, 161, 133, 1) 100%);
 background : -ms-linear-gradient(0deg, rgba(138, 208, 195, 1) 0.56%, rgba(0, 182, 169, 1) 50%, rgba(0, 161, 133, 1) 100%);
 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#8AD0C3 ', endColorstr='#00A185 ' ,GradientType=0)";
 background : linear-gradient(90deg, rgba(138, 208, 195, 1) 0.56%, rgba(0, 182, 169, 1) 50%, rgba(0, 161, 133, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8AD0C3 ',endColorstr='#00A185 ' , GradientType=1);
}

.cbp-color-yellow {
	background-color: rgb(255,219,77);
}


/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
img {
	width: 100%;
	height: auto;
}
body {
	padding: 0;
	margin: 0;
}
button {
	border: 0;
}

section {
	padding: 40px 0;
	width: 100%;
	display: flex;
	justify-content: center;
}
h2 {
	text-align: center;
	font-weight: bold;
	font-family: serif;
	font-style: italic;
	color: #4b4b4b;
	padding: 0 20px;
}
h4 {
	font-size: 
	font-weight: bold;
	font-family: serif;
	font-style: italic;
	color: #4b4b4b;
	padding: 0 20px;
}
h6 {
	margin: 0;
	font-size: .9em;
	font-weight: lighter;
	padding: 0 20px;
}
p {
	padding: 0 20px;
}

/*--------------------------------------------------------------
# Nav
--------------------------------------------------------------*/
nav {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
ul {
	width: 90%;
	padding: 0;
	text-align: center;
	display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}
li {
	display: inline;
	list-style-type: none;
	font-size: 1.5em;
	margin: 0 60px;
}
.logo {
	width: auto;
	height: 100%;
    display: inline-block;
}
.contact-button {
	background-color: transparent;
	border: 1px solid #ddd;
	color: #ddd;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.main-container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}
.CBP-container {
	width: 50%;
	margin: 0 auto;
}
.CBP-container h1 {
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 3em;
}
.CBP-container p {
	margin: 30px 0;
	text-align: center;
	font-size: 1.2em;
}
.CBP-container button {
	width: 40%;
	height: 50px;
	border-radius: 30px;
	display: block;
	margin: 0 auto;
	font-size: 1.3em;
}
.container {
	width: 50%;
}

.about-owner {
	text-align: left;
	font-size: 1.2em;
	padding: 0 20px;
}

.package-container {
	width: 44%;
	float: left;
	padding: 3%;
}

.package-container p {
	text-align: left;
	padding-right: 10px;
	font-size: .9em;
	font-weight: lighter;
}

.package-container button {
	text-decoration-style: none;
	width: 70px;
	height: 20px;
	border-radius: 30px;
}
.contact-us-container p {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}


@media (min-width: 0px) and (max-width: 480px) {
	section {
		display: block;
	}
	.CBP-container {
	    width: 90%;
	    margin: 0 auto;
	}
	.container {
	    width: 90%;
	    padding: 20px;
	    margin: 0 auto;
	}
	ul {
		display: block;
		padding: 0;
	}
	h2	{
		text-align: left;
	}
	.CBP-container p {
	    text-align: left;
	}
	.package-container {
	    width: 100%;
	    padding: 20px 0;
	}
}
@media (min-width: 481px) and (max-width: 980px) {
	section {
		display: block;
	}
	.CBP-container {
	    width: 90%;
	    margin: 0 auto;
	}
	.container {
	    width: 90%;
	    padding: 20px;
	    margin: 0 auto;
	}
	ul {
		display: block;
		padding: 0;
	}
	li {
		width: 100%;
	}
	h2	{
		text-align: left;
	}
	.CBP-container p {
	    text-align: left;
	}
	.container p {
		text-align: left;
	}
	.package-container {
	    width: 100%;
	    padding: 20px 0;
	}
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/














